<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Change Password</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br><br><br><br><br>
<div class="container">
    <h4 style="padding-left:25%">There will be a code send to your email id </h4>
    <form action="{% url 'adminforgetpassword' %}" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-3" for="signincredentials">Username or Email</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="signincredentials" name="signincredentials">
            </div>
        </div>
        <div class="col-sm-8">
            <input style="float:right" type="submit" class="btn btn-sm btn-primary" value="Send Code">
        </div>
    </form>
</div>
</body>
</html>